* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body{
  background-color: #eefdfa;
}

#done-btn{
  padding: 7px;
  border: none;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  outline: none;
  background: #FFFFFF;
  border: 2px solid #33b75e;
  border-radius: 5px;
  text-transform: capitalize;
  color:green
}

#remove-btn{
  padding: 7px;
  border: none;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  outline: none;
  background: #FFFFFF;
  border: 2px solid #FF2C2C;
  border-radius: 5px;
  text-transform: capitalize;
  color: #FF2C2C
}
#remove-btn:hover{
  background: #FF2C2C;
  color: #FFFFFF;
}





h1 {
  margin: 32px 0;
  font-size: 33px;
}

.complete>p {
  text-decoration: line-through;
  color: green;
}

#not-done-btn{
  padding: 7px;
  border: none;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  outline: none;
  background: #FFFFFF;
  border: 2px solid gray;
  border-radius: 5px;
  text-transform: capitalize;
}

#done-btn:hover{
  background-color: #33b75e;
  color: white;
}

#not-done-btn:hover{
  background-color: gray;
  color: white;
}

.todo-app {
  display: flex;
  flex-direction: column;
  width: 500px;
  background: white;
  margin: 128px auto;
  border-radius: 2px;
  padding-bottom: 0px;
  padding-left: 50px;
  padding-right: 50px;
}

.input-container {
  display: flex;
}

.todo-input {
  flex: 1;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0px 4px;
  border: 2px solid gray;
  outline: none;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  margin-left: 20px;
  background: #FFFFFF;
  border: 1px solid #8bdcd2;
  border-radius: 5px;
  text-transform: capitalize;
  color:#8bdcd2 ;
}
.todo-button:hover{
  background-color: #8bdcd2;
  color: white;
}


.todo-container {
  display: flex;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  background: white;
  padding: 15px 0;
  border-radius: 5px;
}

.seperator {
  height: 1px;
  background-color: black;
}

.controls{
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.controls, li{
  display: flex;
  justify-content: space-between;
}

#left-item{
  color:#969aa2;
}

.clear-button:hover{
  text-decoration: underline;
}
.filters button{
  margin: 0 8px;
  font-size: 17px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filters button:first-child{
  margin-left: 0;
}
.filters button.active{
  padding: 4px;
  border: none;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  outline: none;
  background: #FFFFFF;
  border: 2px solid #ededef;
  border-radius: 5px;
  text-transform: capitalize;
}

.clear-button{
  border: none;
  background-color: white;
  font-size: 12px;
  color:#969aa2;
  cursor: pointer;
}
button.on{

  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background-color: white;
  margin-left: 20px;
  color:#969aa2;
  border-radius: 5px;
  text-decoration: underline;
}

.filters span{
  margin: 0 5px;
}
.filters button{
  color: #969aa2;
  font-size: 10px;
}

@media (max-width: 400px) {
  body{
    padding: 0 10px;
  }
  .filters span{
    margin: 0 5px;
  }
  .controls{
    padding: 18px 20px;
  }

}